
.events-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #f0f0f0;
  padding: 20px;
  border-right: 2px solid #ddd;
  margin-right: 20px; /* Add margin to create space between sidebar and main content */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 18px;
  transition: all 0.3s ease;
}

.sidebar li:hover {
  color: #007bff;
}

.main-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input[type="text"] {
  width: 200px; /* Set width of input */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 10px; /* Add margin to separate input and button */
}

.search-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

.content {
  padding: 20px;
}

.content h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribute space between cards */
}

.card {
  flex: 1 0 calc(33.33% - 20px); /* Set flex-grow to 1 */
  width: calc(33.33% - 20px); /* Set fixed width for each card */
  max-width: 300px; /* Limit maximum width to ensure consistency */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.card h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

.card p {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}
